body {
    position: relative;
    --input_width: 40vw;
}

#input {
    position: absolute;
    top: 0;
    left: 10px;
    width: var(--input_width);
    height: 90vh;
    resize: none;
}

#setting {
    position: absolute;
    top: 0;
    left: calc(var(--input_width) + 10px + +10px + 5vw);
    /* width: calc(100vw - var(--input_width)); */

    height: auto;
}

#setting>div {
    margin-bottom: 10px;
}

.contenteditable {
    border: 3px solid black;
    width: 30vw;
}

#download {
    width: fit-content;
    background-color: rgb(74, 158, 255);
padding: 5px;
}

#download_a{
    display: block;
}